<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Gamester</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login12</display-name>
    <servlet-name>Login12</servlet-name>
    <servlet-class>Login12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login12</servlet-name>
    <url-pattern>/Login12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameServlet</display-name>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>controller.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/Game</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameDetailServlet</display-name>
    <servlet-name>GameDetailServlet</servlet-name>
    <servlet-class>controller.GameDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameDetailServlet</servlet-name>
    <url-pattern>/GameDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFormServlet</display-name>
    <servlet-name>LoginFormServlet</servlet-name>
    <servlet-class>controller.LoginFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFormServlet</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWishlistServlet</display-name>
    <servlet-name>AddWishlistServlet</servlet-name>
    <servlet-class>controller.AddWishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWishlistServlet</servlet-name>
    <url-pattern>/AddWishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>controller.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WishlistServlet</display-name>
    <servlet-name>WishlistServlet</servlet-name>
    <servlet-class>controller.WishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishlistServlet</servlet-name>
    <url-pattern>/Wishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompareServlet</display-name>
    <servlet-name>CompareServlet</servlet-name>
    <servlet-class>controller.CompareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompareServlet</servlet-name>
    <url-pattern>/Compare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompareDetailServlet</display-name>
    <servlet-name>CompareDetailServlet</servlet-name>
    <servlet-class>controller.CompareDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompareDetailServlet</servlet-name>
    <url-pattern>/CompareDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriesServlet</display-name>
    <servlet-name>CategoriesServlet</servlet-name>
    <servlet-class>controller.CategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesServlet</servlet-name>
    <url-pattern>/Categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryFilterServlet</display-name>
    <servlet-name>CategoryFilterServlet</servlet-name>
    <servlet-class>controller.CategoryFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryFilterServlet</servlet-name>
    <url-pattern>/CategoryFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlatformServlet</display-name>
    <servlet-name>PlatformServlet</servlet-name>
    <servlet-class>controller.PlatformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlatformServlet</servlet-name>
    <url-pattern>/Platform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlatformFilterServlet</display-name>
    <servlet-name>PlatformFilterServlet</servlet-name>
    <servlet-class>controller.PlatformFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlatformFilterServlet</servlet-name>
    <url-pattern>/PlatformFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFilterServlet</display-name>
    <servlet-name>SearchFilterServlet</servlet-name>
    <servlet-class>controller.SearchFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFilterServlet</servlet-name>
    <url-pattern>/SearchFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HardwareServlet</display-name>
    <servlet-name>HardwareServlet</servlet-name>
    <servlet-class>controller.HardwareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HardwareServlet</servlet-name>
    <url-pattern>/Hardware</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>controller.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/News</url-pattern>
  </servlet-mapping>
</web-app>